<h1><%= @user.name.capitalize %> profile</h1>
<p>Email: <%= @user.email %></p>

<h2>Created events:</h2>
<% @user.created_events.each do |event| %>
  <%= link_to event.description, event_path(event) %><br />
<% end %>

<h2>Attended events:</h2>
<% @user.attended_events.each do |event| %>
  <%= link_to event.description, event_path(event) %>
<% end %>
